* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    
}
html {
    margin: 0;
    padding: 0;
    position: relative;
}

p{
    margin: 0;
}

h1{
    font-size: 3rem;
}

.bar{
    width: 100%;
    height: 2rem;
    background-color: #1CD1B0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
    background: #00669f;
    height: 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.main{
    display: flex;
    justify-content: center;
}

.cardsContainer {
    margin: 5% 5%;
    height: 40rem;
    width: 63rem;
    display: flex;
    justify-content: space-between;
}


.card {
    position: relative;
    width: 300px;
    height: 530px;
    background-color: #f3f3f3;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heart {
    position: absolute;
    top: 2.5%;
    left: 5%;
    transition: 450ms all;
}

.heart:hover{
    filter: invert(100%);
    transform: scale(1.5);
    transition: 450ms all;
}

.icono {
    border-radius: 100%;
    position: absolute;
    top: 25%;
    left: 30%;
}

.card-info {
    justify-content: center;
    margin: 4rem 1rem 2rem 1rem;
}

.card-info h2 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.btn {
    color: white;
    border: 0;
    width: 40%;
    height: 3rem;
    background-color: #00669f;
    margin: 0 30%;
}

.footer {
    color: white;
    background: #00669f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
}
